{% extends 'base.html' %}

{% block nav %}
 <!--START: Header -->
 <div id="header">
  <h1><a href="#">logo</a></h1>
  <!--START: Menu -->
  <ul class="menu">
   <li><a href="#"><span>INDEX</span><strong>首页</strong></a></li>
   <li class="active"><a href="#"><span>MY PARTY</span><strong>我的活动</strong></a></li>
   <li><a href="#"><span>DOWNLOAD</span><strong>下载应用</strong></a></li>
  </ul>
  <!--END: Menu -->
  <ul class="menu user_login">
   <li><a href="#"><span>LOGIN</span><strong>登录</strong></a></li>
   <li><a href="#"><span>REGISTER</span><strong>注册</strong></a></li>
  </ul>
 </div>
 <!--END: Header --> 
{% endblock%}