<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.aragoncg.apps.airenao"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
    	<activity android:name=".activity.ContactsListActivity">
    		
    	</activity>
    	<activity android:name=".activity.SendAirenaoActivity">
    		
    	</activity>
    	<activity android:name=".activity.DetailActivity">
    		<intent-filter>
        		<action android:name="toDetailActivity"></action>
        		<category android:name="android.intent.category.DEFAULT"/>
        	</intent-filter>
    	</activity>
    	<activity android:name=".activity.RegisterActivity"> 
    		<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    	<activity android:name=".activity.LoginActivity"> 
    		
        </activity>
    	<activity android:name=".activity.ImeetingClientActivity">
    	</activity>
    		
        <activity android:name=".activity.CreateActivity"> 
        	
        </activity>
        
		<activity 
		android:name=".activity.MeetingListActivity"
		android:screenOrientation="portrait">
			
		</activity>
		
		<activity android:name=".activity.InvatedPeopleInfoActivity">
			
		</activity>
    </application>
  <uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.READ_CONTACTS" />
	<uses-permission android:name="android.permission.CALL" />
	<uses-permission android:name="android.permission.CALL_PHONE" />
	<uses-permission android:name="android.permission.DIAL" />
	<uses-permission android:name="android.permission.WRITE_CONTACTS" />
	<uses-permission android:name="android.permission.SEND_SMS" />
	<uses-permission android:name="android.permission.READ_PHONE_STATE" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.RESTART_PACKAGES" />
	<uses-feature android:name="android.hardware.camera" />
	<uses-feature android:name="android.hardware.camera.autofocus"
		android:required="false" />

	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.READ_SMS" />
</manifest>