/*
	version:   1.0
	author:    Name
	date:      08/08/08
	******************************
	***** Inhaltsverzeichnis *****
	******************************
*/
/*1. basic*/
/**1.1 css reset**/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, textarea, p, blockquoteth, td {
 margin:0;
 padding:0;
 color:#666666;
}
a { color: #333; text-decoration: none; }
a:hover { color: red; text-decoration: none; cursor: pointer; }
table {
 border-collapse:collapse;
 border-spacing:0;
}
fieldset, img {
 border:0;
}
address, caption, cite, code, dfn, em, strong, th, var {
 font-style:normal;
 font-weight:normal;
}
ol, ul {
 list-style:none;
}
capation, th {
 text-align:left;
}
h1, h2, h3, h4, h5, h6 {
 font-size:100%;
 font-weight:normal;
}
q:before, q:after {
 content:''
}
abbr, acronym {
 border:0;
}
.clearfix:after {
 content: "."; 
 display: block;
 height: 0; 
 clear: both; 
 visibility: hidden}
.clearfix{display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix{height: 1%;}
.clearfix{display: block;}
/* End hide from IE-mac */  
/*2. common*/
/**2.1 module1**/
.errorlist{color:red; font-size:12px;}

.fw_b{
 font-weight:bold;
}
.paragraph{
 margin-bottom:1em;
}
.minor{
 color:#858585;
}
.title{
 font-size:24px;
 font-weight:bold;
 background:url(../images/bg_title.png) center bottom no-repeat;
 padding-bottom:30px;
 margin-bottom:15px;
}
.ta_r{
 text-align:right;
}
/**2.2 module2**/
.table th{
 font-weight:bold;
}
.table td,.table th{
 border-bottom:1px solid #e5e5e5;
 padding:3px 10px;
}
.new_line td,.new_line th{
 background:url(../images/bg_line1.png) left bottom repeat-x;
}
/* 3. page */
/** 3.1 layout **/
.grid_a {
 width:720px;
 margin:0 auto;
 padding:30px 0;
}
#wrapper {
 width:760px;
 margin:0 auto;
}
#header {
 position:relative;
 height:43px;
}
/** 3.2 Homepage **/
body {
 font-family:"微软雅黑";
 color:#545454;
 font-size:14px;
 background:#fafaf0 url(../images/bg_body.png) left top repeat-x;
}
#header h1 {
 position:absolute;
 left:0;
 top:6px;
 height:54px;
 width:145px;
 background:url(../images/logo.png) left top no-repeat;
}
#header h1 a {
 display:block;
 height:100%;
 width:100%;
 text-indent:-9999px;
 overflow:hidden;
}
.menu {
 padding-left:160px;
 padding-top:1px;
 float:left;
}
.menu li {
 display:inline;
}
.menu li a {
 color:white;
 text-decoration:none;
 float:left;
 line-height:41px;
 padding:0 10px;
 margin-right:15px;
}
.menu li.active a, .menu li a:hover {
 background-color:#d10303;
}
.user_login {
 float:right;
}
.user_login li {
 display:inline;
 margin-left:15px;
 line-height:41px;
}
.user_login li a {
 color:white;
 text-decoration:none;
}
.user_login li a:hover{
 text-decoration:underline;
}
/** 3.3 subpage **/
/*** 3.3.1 subpage1 ***/
.creat_exercise .field{
 clear:both;
 padding-bottom:1.4em;
 font-size:14px;
}
.creat_exercise .field label{
 float:left;
 padding-top:8px;
 width:76px;
}
.creat_exercise input.text,.creat_exercise textarea.text{
 border-left:1px solid #9a9a9a;
 border-top:2px solid #9a9a9a;
 border-right:2px solid #eeeeee;
 border-bottom:1px solid #eeeeee;
 padding:1px 2px;
}
.creat_exercise .submit_field{
 padding-top:20px;
}
.creat_exercise  input{
 margin-right:10px;
 height:28px;
 border:1px #ff5555 solid;
 border-radius:3px;
}
.creat_exercise textarea{
  border:1px #ff5555 solid;
}
input[type="submit"], button{ border:0px; color:#fff; padding:6px 20px; font-size:14px;}
input[type="submit"], button{ background:url('/static/images/btn_bg.png') center;}
input[type="submit"]:hover, button:hover { background:url('/static/images/btn_hover_bg.png') center;}

/*** 3.3.2 subpage2 ***/
.apply_details{
 line-height:1.6em;
 padding:0 10px 10px;
}
.join_form input{
 margin-right:10px;
}
.accordionview{
 
}
.accordionview .accordion_panel{
 padding-top:5px;
}
.accordionview .accordion_toggle{
 border-top:4x solid white;
 border-bottom:1px solid #cccccc;
 background-color:#f2f2f2;
 height:30px;
 line-height:30px;
 padding:0 10px;
 position:relative;
}
.accordionview .accordion_toggle strong{
 color:#cc0000;
 position:relative;
 _zoom:1;
}
.icon_new{
 position:absolute;
 top:-14px;
 left:50%;
 margin-left:-15px;
 background:url(../images/icon_new.png) left top no-repeat;
 width:30px;
 height:14px;
}
.accordionview .indicator{
 position:absolute;
 right:10px;
 top:10px;
 width:15px;
 height:13px;
 background:url(../images/down.png) left top no-repeat;
}
.accordionview .accordion_toggle_active .indicator{
 background:url(../images/up.png) left top no-repeat;
}
.accordionview .btn_please{
 position:absolute;
 right:10px;
 top:4px;
}
/*** 3.3.2 subpage2 ***/
.activity_tabs{
}
.activity_tabs .activity_nav{
 width:100%;
 overflow:hidden;
}
.activity_tabs .activity_nav li{
 float:left;
}
.activity_tabs .activity_nav li a{
 border-left:1px solid #ccc;
 border-right:1px solid #ccc;
 padding:4px 10px;
 text-decoration:none;
 color:black;
 margin-right:2px;
 float:left;
 display:inline;
 background-color:white;
}
.activity_tabs .activity_nav li.active a{
 background-color:#cccccc;
}
.activity_tabs .sub_tab{
 clear:both;
 background-color:#ccc;
 height:30px;
 line-height:30px;
 padding:0 10px;
 position:relative;
}
.activity_tabs .sub_tab .indicator{
 position:absolute;
 top:8px;
 right:10px;
 background-color:red;
 width:13px;
 height:13px;
 background:url(../images/down2.png) left top no-repeat;
 cursor:pointer;
}
.activity_tabs .sub_tab_active .indicator{
 background:url(../images/up2.png) left top no-repeat;
}
.activity_tabs .sub_tab strong{
 background-color:white;
 padding:2px 8px;
 -moz-border-radius:3px;
 -webkit-border-radius: 3px;
 border-radius:3px;
}
.comment{
 background-color:#fff7c2;
 margin:10px 0 30px 10px;
 padding:10px;
 position:relative;
}
.comment_odd{
 background-color:#f3ffcf;
-khtml-border-radius: 11px;
-khtml-box-shadow: rgba(200,200,200,1) 0 4px 18px;
-moz-border-radius: 11px;
-moz-box-shadow: rgba(200,200,200,1) 0 4px 18px;
-webkit-border-radius: 11px;
-webkit-box-shadow: rgba(200,200,200,1) 0 4px 18px;
border: 1px solid #E5E5E5;
border-radius: 5px;
box-shadow: rgba(200,200,20);
}
.comment .corners{
 position:absolute;
 left:630px;
 top:-12px;
 width:30px;
 height:15px;
 overflow:hidden;
 background:url(../images/icon_corner2.png) left top no-repeat;
}
.comment_odd .corners{
 background:url(../images/icon_corner1.png) left top no-repeat;
}
.comment .details{
 padding:10px;
}
.important{
 color:#d12000;
}
.function_share .statistics{
 float:left;
}
.function_share .share{
 float:right;
}
.function_share .share a{
 color:#545454;
 text-decoration:none;
}
.line{
 border-top:1px dotted #999999;
 height:0;
 overflow:hidden;
 margin:20px 8px;
}
/** 3.4 popup **/
.transparent, .popup {display:none;}
.transparent{
 filter:alpha(opacity=50);/* IE */
 -moz-opacity:0.50; /* Moz + FF */
 opacity:0.50;
 background-color:#000;
 left:0;
 top:0;
 width:100%;
 height:100%;
 position:absolute;
 z-index:10;
}
.popup{
 position:absolute;
 z-index:20;
 width:600px;
 overflow:hidden;
 left:50%;
 margin-left:-300px;
 top:50px;
 background-color:white;
 -moz-border-radius:15px;
 -webkit-border-radius: 15px;
 -moz-box-shadow:2px 2px 10px black;/* firefox */
 -webkit-box-shadow:2px 2px 10px black;/* Safari Chrome */
 box-shadow:2px 2px 10px black;/* css3,Opera10.5 */
 border:1px solid white;
}
.popup .hd{
 background-color:#990000;
 height:36px;
 line-height:36px;
 position:relative;
 color:white;
}
.popup .hd h2{
 font-size:16px;
 padding:0 10px;
 font-weight:bold;
}
.popup .hd .close{
 position:absolute;
 right:7px;
 top:7px;
 background:url(../images/close.png) left top no-repeat;
 width:22px;
 height:22px;
 text-indent:-9999px;
 overflow:hidden;
}
.popup .bd{
 padding:8px 10px;
 margin-bottom:15px;
 height:400px;
 overflow:auto;
}
/** 3.5 Etc **/
.time_class{
    background:white;
    position:absolute;
    border:1px solid black;
    display:none;
    height:100px;
    overflow:auto;
    padding-right:30px;
    z-index:2;
    overflow-x: hidden;
}
.time_class div{
	height:19px;
}