/*1.1public style*/
body {
    font-family:  Verdana, Helvetica, sans-serif,Arial;
    color: #333;
    text-align: center;
    font: 12px verdana, tahoma, Times New Roman;
    background: url("../images/bg.gif") repeat-x #fafaf0;
}
