<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" /> 
<title>报名页面 - 爱热闹</title>
<meta name="viewport" content="user-scalable=no, width=device-width" />
<link rel="stylesheet" href="/static/css/airenao.min.css" />
<link rel="stylesheet" href="/static/css/jquery.mobile.structure-1.0rc2.min.css" /> 
<script src="/static/js/jquery-1.6.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
<style type="text/css">
#apply span , #noanswer span , #reject span{ color: #999; float: right;}
</style>
<script>

$(document).ready(function(){
    ajaxGetClients('apply');
    ajaxGetClients('noanswer');
    ajaxGetClients('reject');
});

$(document).bind("mobileinit", function(){
    $.mobile.foo = bar;
});

function ajaxGetClients(applystatus){
    $('.accordion_content table tbody').children().remove();
    
    $.ajax({
        type : 'GET',
        url: '/m/parties/invite_list_ajax/'+{{party.id}}+'/?apply='+applystatus,
        statusCode : {
        200: function(response){
            clients = JSON.parse(response);
            for (i in clients){
                row = '<li class="ui-li ui-li-static ui-body-c">'+clients[i].name+"<span>"+clients[i].address+'</span></li>';
                $('#'+applystatus+' ul').append(row);  
            }
            
            //修改[再次邀请]的url
        },
        500: function(){ alert('没有获取到用户列表')}
        }
    });
}

</script>
</head>
<body>
<div data-role="page" id="home"> 
	<div data-role="header" style="background:red; border-bottom:solid #ffffff 1px">
	    <h1><img src="/static/images/logo.png"></h1>
    </div> 
	<div data-role="content">
		<h2>{{party.creator.username}} <span style="color:#999">邀请</span> {% if client %}{{client.name}}{%else%}您{%endif%}：</h2>
		<h2>{{party.start_date|date:"m月d日"}} {{ party.start_time|time:"H:i"|default:"时间待定" }}</h2>
		<h2>{{party.address|default:"地点待定" }} <span style="color:#999">参加活动</span></h2>		
		<h2>{{party.description}}</h2>
        <form method="POST" action="/m{% url enroll party.id %}?key={{key}}" id='id_form'>
        {% if client %}
            <!-- 被邀请用户报名页面 -->
        	<div class="ui-block-a"><button type="submit" data-icon="check" name='yes' >参加</button></div>
        	<div class="ui-block-b"><button type="submit" data-icon="delete" data-theme="b" name='no' >不参加</button></div>
       		<input name='key' type='hidden' value='{{ key }}'></input>
        {% else %}

            <label for="basic">姓名:</label>
            <input type="text" name="name" id="id_name" value=""  />
            <label for="client_email_list">联系方式</label>
            {{ form.phone_or_email }}{{ form.phone_or_email.errors.0 }}
    
            <div class="ui-block-a"><button type="submit" data-icon="check" data-theme="c" name='yes'>参加</button></div>
    
        {% endif %}	
        </form>
	</div>
	<ul data-role="listview" data-inset="true" data-theme="a">
		<li><a href="#apply">已报名 <span class="ui-li-count">{{client_count.apply}}</span></a></li>
		<li><a href="#noanswer">未响应 <span class="ui-li-count">{{client_count.noanswer}}</span></a></li>
		<li><a href="#reject">不参加 <span class="ui-li-count">{{client_count.reject}}</span></a></li>
	</ul>
    <!--div data-role="navbar">
	<ul>
		<li><a href="/" data-theme="b">首页</a></li>
		<li><a href="{%url login %}" data-theme="b">登录</a></li>
        <li><a href="{%url register %}" data-theme="b">注册</a></li>
	</ul>
    </div-->    
</div> 

<div data-role="page" id="apply">
	<div data-role="header">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>已报名人员列表</h1>
	</div>
	<div data-role="content">
        <ul data-role="listview" data-inset="true">
        </ul>
	</div>
</div>

<div data-role="page" id="noanswer">
	<div data-role="header">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>未报名人员列表</h1>
	</div>
	<div data-role="content">
        <ul data-role="listview" data-inset="true">
        </ul>
	</div>
</div>

<div data-role="page" id="reject">
	<div data-role="header">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>不参加人员列表</h1>
	</div>
	<div data-role="content">
        <ul data-role="listview" data-inset="true">
        </ul>
	</div>
</div>

<div data-role="page" id="yes" data-theme="c">
	<div data-role="header">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>报名成功！</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>您已经成功报名，请记得按时参加。</p>		
		<p><a href="#enroll">已报名列表</a></p>	
	</div><!-- /content -->
</div>


<div data-role="page" id="no"  data-theme="a">
	<div data-role="header">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>不参加本次活动</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>您已经选择不参加本次活动，感谢您的关注。</p>		
		<p><a href="#enroll">已报名列表</a></p>	
	</div><!-- /content -->
</div>

</body>
</html>