{% extends 'login_base.html' %}
{% block title %}创建活动 {% endblock %}

{% block style %}
<style>
#id_description { padding:3px;}
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript" src="/static/js/time.js"></script>
<script type="text/javascript" src="/static/js/ui.core.js"></script>
<script type="text/javascript" src="/static/js/jquery.form.js"></script>
<script type="text/javascript" src="/static/js/ui.datepicker.js"></script>
<link type="text/css" href="/static/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/static/css/datepicker2.css" rel="stylesheet" />
<script type="text/javascript">
 
$(document).ready(function(){
   $("#id_start_date").datepicker();    

});
$(document).ready(function(){
   $("#id_start_date").blur(function(){
      var currentDate = new Date()
      var startDate = ''
      var y = currentDate.getFullYear();
      var m = currentDate.getMonth() + 1;
      var d = currentDate.getDate();
      var v = $("#id_start_date").val();
      var re = new RegExp(/\d/g);
      var result = v.match(re);
      switch (result.length){
          case 1 : startDate = y+'-'+m+'-0'+result[0];break;
          case 2 : startDate = y+'-'+m+'-'+result[0]+result[1]; break;
          case 3 : startDate = y+'-0'+result[0]+'-'+result[1]+result[2]; break;
          case 4 : startDate = y+'-'+result[0]+result[1]+'-'+result[2]+result[3]; break;
          case 6 : startDate = '20'+result[0]+result[1]+'-'+result[2]+result[3]+'-'+result[4]+result[5];break;
          case 8 : startDate = result[0]+result[1]+result[2]+result[3]+'-'+result[4]+result[5]+'-'+result[6]+result[7];break;
          default : startDate = y+'-'+m+'-'+d;break;
      }
      $("#id_start_date").val(startDate);
   });
   
   $("#id_start_time").blur(function(){
      var currentTime = new Date()
      var startTime = ''
      var h = currentTime.getHours();
      var m = currentTime.getMinutes();
      var v = $("#id_start_time").val();
      var re = new RegExp(/\d/g);
      var result = v.match(re);
      switch (result.length){
          case 2 : startDate = result[0]+result[1]+':00'; break;
          case 4 : startDate = result[0]+result[1]+':'+result[2]+result[3]; break;
          default : startDate = h+':'+m;break;
      }
      $("#id_start_time").val(startDate);
   });
});
function on_submit(o){
  var description = $('#id_description').val();
  if(description.replace(/^\s+|,|\s+$/g, "")!=""){
     return true;
   }
   $('#id_description').parent().append('必填项')
   $('#id_description').val('');
   return false;
}
</script>

{% endblock %}

{% block content %}
 <!--START: content -->
<div id="content">
  <div class="grid_a">
   <h2 class="title">创建活动</h2>
   <form method="post" ation="{% url create_party %}" class="creat_exercise" onsubmit="return on_submit(this);">
    	{% csrf_token %}
    <fieldset>
     <div class="field">
     <label for="id_start_date">
     何时
     </label>
     <input name='start_date' id='id_start_date'  placeholder='选填，格式如2008-08-08' class='input-txt3 mys' style="width:150px;"></input>
     {{ form.start_date.errors }}
     <input name='start_time' id='id_start_time'  placeholder='选填，格式如08:08' class='input-txt3 mys TimePker' autocomplete='off' style="width:150px;"></input>
     {{ form.start_time.errors }}
     </div>
     <div class="field">
     <label for="id_address">
     去哪
     </label>
     <input name='address' id='id_address' placeholder='可选填，主要作用是进行地图定位' style="width: 315px;"></input>
     {{ form.address.errors }}
     </div>
     <div class="field">
     <label for="id_description">
     玩啥<span style="color:red">*</span>
     </label>
     {{ form.description.errors }}
     <textarea name='description' id='id_description' placeholder='必填项' cols="70" rows="13"></textarea>
     </div>
     <div class="field">
     <label for="id_limit_count">
     最多几个人
     </label>
     <input name='limit_count' id='id_limit_count' placeholder='无限制' maxlength='3'></input>
     {{ form.limit_count.errors }}
     </div>
     <div class="submit_field">
      <input id="id_sms_invite_submit" type="submit" name="sms_invite" value="发送短信" alt="sms"/>
      <input id="id_email_invite_submit" type="submit" name="email_invite" value="发送邮件" alt="email"/>
     </div>
    </fieldset>
   </form>
  </div>
 </div>
 <!--END: content --> 
{% endblock%}
