{% extends 'login_base.html' %}

{% block content %}
 <!--START: content -->
<div id="content">
  <div class="grid_a">
   <h2 class="title">创建活动</h2>
   <form method="post" ation="{% url create_party %}" class="creat_exercise">
    	{% csrf_token %}
    <fieldset>
     <div class="field">
     <label for="username">
     开始时间
     </label>
     {{ form.start_time }}
     {{ form.start_time.errors }}
     </div>
     <div class="field">
     <label for="username">
     活动地点
     </label>
     {{ form.address }}
     {{ form.address.errors }}
     </div>
     <div class="field">
     <label for="username">
     活动描述
     </label>
     {{ form.description }}
     {{ form.description.errors }}
     </div>
     <div class="field">
     <label for="username">
     人数限制
     </label>
     {{ form.limit_count }}
     {{ form.limit_count.errors }}
     </div>
     <div class="submit_field">
      <input id="id_sms_invite_submit" type="submit" name="sms_invite" value="sms_invite" alt="sms" src="/static/images/btn_sms.png"/>
      <input id="id_email_invite_submit" type="submit" name="email_invite" value="email_invite" alt="sms" src="/static/images/btn_email.png"/>
     </div>
    </fieldset>
   </form>
  </div>
 </div>
 <!--END: content --> 
{% endblock%}
