{% extends 'login_base.html' %}

{% block content %}
<!--START: content -->
<div id="content">
  <div class="grid_a">
   <h2 class="title">编辑活动</h2>
   <form method="post" ation="{% url edit_party party.id %}" class="creat_exercise">
    	{% csrf_token %}
    <fieldset>
     <div class="field">
     <label for="username">
     开始时间
     </label>
     {{ form.start_time }}
     </div>
     <div class="field">
     <label for="username">
     活动地点
     </label>
     {{ form.address }}
     </div>
     <div class="field">
     <label for="username">
     活动描述
     </label>
     {{ form.description }}
     </div>
     <div class="field">
     <label for="username">
     人数限制
     </label>
     {{ form.limit_count }}
     </div>
     <div class="submit_field">
     <input type='submit' value='submit'></input>
     </div>
    </fieldset>
   </form>
  </div>
 </div>
 <!--END: content --> 
{% endblock%}
