{% extends 'login_base.html' %}
{% load string_filter %}
{% block style %}
<link href="/static/libs/jquery-ui-1/css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" rel="stylesheet" />
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */ * html .ui-autocomplete {
        height: 100px;
    }
    a {
    color: #2319FD;
    text-decoration :underline;  
      }
</style>
{% endblock %}
{% block script %}
<script src="/static/js/jquery-1.6.4.min.js">
</script>
<script src="/static/libs/jquery-ui-1/js/jquery-ui-1.8.16.custom.min.js">
</script>
<script type="text/javascript">
/**
 *取出重复的联系人
 *
 */
function distinct(){
	 client_email_list = $('#id_client_email_list').val().split(',');
     client_email_list_length = client_email_list.length;     
	 array = new Array();
	 array_length = 0;   
     for (i = 0; i < client_email_list_length; i++) {
         client_email = client_email_list[i].replace(/^\s+|\s+$/g, ""); 
         if (client_email != "") {
             array_length = array.length;
             add = 1 ;
             for(k=0;k<=array_length;k++){
                 if(array[k] == client_email){
                 	add = 0;
                 	break;
                 }
                 if(k == array_length){
                    add = 1;
                 }
             }  
             if(add==1){
             	array.push(client_email);
             }  
         }
     }//endfor
     client_emails = array.join(',');
//     if(client_emails.length!=0){
//	     if(client_emails.lastIndexOf(',')!=(client_emails.length-1)){
//	        client_emails = client_emails+',';
//	     }
//     }
     $('#id_client_email_list').val(client_emails);
}
    function calculate_send_email_count(){
    	distinct();
        client_email_list = $('#id_client_email_list').val().split(',');
        client_email_list_length = client_email_list.length;
        count = 0;
        for (i = 0; i < client_email_list_length; i++) {
            if (client_email_list[i].replace(/^\s+|\s+$/g, "") != "") {
                count = count + 1;
            }
        }
        $('#id_send_email_count').html("共 " + count + " 人");
    }
    
/**
 * 获得最近活动邀请的人
 * @param int party.id
 */
function getRecentPartiesAddressee(v){
    if (v != 0) {
           $.ajax({
            type : 'GET',
            url: '/parties/invite_list_ajax/'+v+'/',
            statusCode : {
            200: function(response){
                clients = JSON.parse(response);
                client_list = [];
                for (i in clients){
                    client_list[i] = clients[i].address;
                }
                $("#id_client_email_list").val(client_list.join(','))
            },
            500: function(){ alert('没有获取到用户列表')}
            }
        });
    }
}
    
    var availableTags = eval({{client_data|safe}});
    $(function(){
		calculate_send_email_count();
        //var availableTags = ["ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++", "Clojure", "COBOL", "ColdFusion", "Erlang", "Fortran", "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl", "PHP", "Python", "Ruby", "Scala", "Scheme"];
        function split(val){
            return val.split(/,\s*/);
        }
        function extractLast(term){
            return split(term).pop();
        }
        $('#id_client_email_list').bind("keyup", function(event){
		   if(event.keyCode==188){
            return;
          }
		  calculate_send_email_count();
		});
        $("#id_client_email_list") // don't navigate away from the field on tab when selecting an item
    .bind("keydown", function(event){
            if (event.keyCode === $.ui.keyCode.TAB &&
            $(this).data("autocomplete").menu.active) {
                event.preventDefault();
            }
        }).autocomplete({
            minLength: 0,
            autoFocus: true,
            source: function(request, response){
                // delegate back to autocomplete, but extract the last term
                response($.ui.autocomplete.filter(availableTags, extractLast(request.term)));
            },
            focus: function(){
                // prevent value inserted on focus
                return false;
            },
            select: function(event, ui){
                var terms = split(this.value);
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push(ui.item.value);
                // add placeholder to get the comma-and-space at the end
                terms.push("");
                this.value = terms.join(", ");
				calculate_send_email_count();
                return false;
            }
        });
    });
    $(document).ready(function(){
 	$('#id_is_apply_tips').change(function(){
		if(!this.checked){
		   if (window.confirm("关闭报名提示后，在发送给邀请人的邮件中将不包含报名链接，确定吗?")){
		   	  this.checked=false;
		   }else{
		      this.checked=true;
		   }
		}
		return;
	});
});

</script>
{% endblock %}
{% block content %}
<div id="content">
    <div id="ac_dropdownlist">
        <ul>
        </ul>
    </div>
    <div class="grid_a">
        <h2 class="title">发送邮件邀请</h2>
        <form action="{% url email_invite party.id %}" method="post" class="creat_exercise">
            {% csrf_token %}
            <div class="field">
                <label for="client_email_list">
                    收件人<font color='red'>*</font>
                <p id="id_send_email_count">共 0 人</p>
                </label>
                <textarea id="id_client_email_list" rows="4" cols="40" name="client_email_list" style="margin-left: 0px; margin-right: 0px; width: 404px; ">{{ form.client_email_list.value }}</textarea>
                &nbsp;<font color='red'>{{ form.client_email_list.errors.0 }}</font>
                {% if quickadd_client.noanswer_client or quickadd_client.apply_client or quickadd_client.reject_client %}
                <script>
                  var reject = '{{ quickadd_client.reject_client }}';
                  var apply = '{{ quickadd_client.apply_client }}';
                  var noanswer = '{{ quickadd_client.noanswer_client }}';
                  function quickadd(o){
                  	var temp = ''
                  	if(o=='all'){
		              	if(reject!=''){
		                  temp += reject+','; 
		             	 }
		             	if(apply!=''){
		                  temp += apply+','; 
		             	 }
		             	if(noanswer!=''){
		                 temp += noanswer+','; 
		             	} 
			        }
			        if(o=='apply'){
		             	if(apply!=''){
		                  temp += apply+','; 
		             	 }
			        }
			        if(o=='reject'){
		             	if(reject!=''){
		                  temp += reject+','; 
		             	 }
			        }
			        if(o=='noanswer'){
		             	if(noanswer!=''){
		                  temp += noanswer+','; 
		             	 }
			        }   
			        if(temp!=''){  	
	                 	var content = $('#id_client_email_list').val();
	                 	if(content.replace(/^\s+|,|\s+$/g, "")!=""){
	                 	  if(content.charAt(content.length-1)==","){
	                 	  	$('#id_client_email_list').val(content+temp);
	                 	  }else{
	                 	    $('#id_client_email_list').val(content+","+temp);
	                 	  }
	                 	}else{
	                 	    $('#id_client_email_list').val(temp)
	                 	}
	                } 	
                  }
                
                </script>
                <br/>快速添加：&nbsp;&nbsp;<a href='#' onclick="quickadd('all');">所有人</a>&nbsp;&nbsp;<a href='#' onclick="quickadd('apply');">已报名</a>&nbsp;&nbsp;<a href='#' onclick="quickadd('noanswer');">犹豫的</a>&nbsp;&nbsp;<a href='#' onclick="quickadd('reject');">不来的</a>
                {% endif %}
            </div>
            <div class="field">
                <label for="id_recent_parties">最近联系人</label>
                <select id="id_recent_parties" onchange="getRecentPartiesAddressee(this.value)">
                    <option value="0">未选择</option>
                    {% for party in recent_parties %}
                    <option value="{{party.id}}">{{party.description|truncatestring:"60"}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="field">
                <label for="id_content">
                    邮件内容<font color='red'>*</font>
                </label>
                <font color='red'>{{ form.content.errors.0 }}</font>
                <textarea name='content' id='id_content' cols='70' rows='15'>{{ form.content.value|default:'' }}</textarea>
            </div>
            <div class="field">
                <label for="id_is_apply_tips">
                    &nbsp;
                </label>
                <p>
                <input type='checkbox' name='is_apply_tips' id='id_is_apply_tips' {% if form.is_apply_tips.value %}checked='checked'{% endif %}></input>带报名链接
                </p>
            </div>
            <div class="field">
                <label>
                    &nbsp;
                </label>
                <input id="id_email_invite_submit" type="submit" value="发送" />               
            </div>
        </form>
         <button id="id_back_to_list" onclick="(function(){window.location.href='{% url list_party %}';})() ;return false;"> 返回活动列表</button>
    </div>
</div>
{% endblock %}