{% extends 'login_base.html' %}

{% block content %}
<style>
    #id_email_invite_submit { background:url('/static/images/btn_bg.png'); border:0px; color:#fff; padding:5px 19px;}
</style>
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
 
<script type="text/javascript" >
$(document).ready(function(){
  $("#id_client_email_list").keyup(function(){
      client_email_list = this.value.split(','); 
      client_email_list_length = client_email_list.length;     
      count = 0;
      for( i=0; i<client_email_list_length;i++){
          if (client_email_list[i].replace(/^\s+|\s+$/g,"") != ""){          
              count = count+1;
          }
      }
      $('#id_send_email_count').html("发件人人数统计： "+count);
  });
});

</script>
<div id="content">
  <div class="grid_a">
   <h2 class="title">发送邮件邀请</h2>
	<form action="{% url email_invite party.id %}" method="post" class="creat_exercise">
		{% csrf_token %}
     <div class="field">
     <label for="client_email_list">
     收件人
     </label>
     {{ form.client_email_list.errors }}
     {{ form.client_email_list }}
     </div>
     <div class="field">
     <label for="id_content">
     邮件内容
     </label>
     {{ form.content }}
     </div>
     <div class="field">
     <label for="id_send_email_count">
     邀请人数
     </label>
     <p id="id_send_email_count">0<p>
     </div>
		<input id="id_email_invite_submit" type="submit" value="发送邮件邀请" />
		<input id="id_email_invite_default_content" type='hidden' value='{{ email_invite_default_content }}'></input>
	</form>
	   <button onclick="(function(){document.getElementById('id_content').value=document.getElementById('id_email_invite_default_content').value;})()" >恢复默认内容</button>
  </div>
</div>
{% endblock %}