{% extends 'not_login_base.html' %}

{% block title %}报名页面 - 爱热闹{% endblock %}

{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.4.min.js"></script>
<script>
    $(document).ready(function(){
        ajaxGetClients('apply');//进入页面时获得[已报名]列表 
        
        $('a[id^="tab_"]').bind('click', function(){
            $("#"+this.id).siblings().attr('style','');
            $("#"+this.id).attr('style','padding:7px;border:solid #ccc 1px;background: -webkit-linear-gradient(top,#fff,#eee);border-bottom:solid #fff 1px;');//改变样式
            
            var applystatus = this.id.split('_')[1];
            ajaxGetClients(applystatus);
        })
    })

function ajaxGetClients(applystatus){
    $('.accordion_content table tbody').children().remove();
    
    $.ajax({
        type : 'GET',
        url: '/clients/invite_list_ajax/'+{{party.id}}+'/?apply='+applystatus,
        statusCode : {
        200: function(response){
            clients = JSON.parse(response);
            for (i in clients){
                row = "<tr><td></td><th>"+clients[i].name+"</th><td>"+clients[i].address+"</td><td></td></tr>"
                $('.accordion_content table tbody').append(row);    
            }
            
            //修改[再次邀请]的url
        },
        500: function(){ alert('没有获取到用户列表')}
        }
    });
}

function ajaxChangeStatus(id, applystatus){
    $.ajax({
        type : 'GET',
        url : '/clients/change_apply_status/'+id+'/'+applystatus,
        data : {},
        statusCode : {
        200: function(response){
            location.reload() 
        },
        500: function(){ alert('没有获取到用户列表')}
        }
    });
}
</script>
{% endblock %}

{% block content %}

 <div id="content">
  <div class="grid_a">
   <h2 class="title">活动报名</h2>
   <div class="apply_details">
    <p>{{party.creator.username}} <span class="minor">邀请</span> 您：</p>
    <p>{{party.start_time}}</p>
    <p class="paragraph">{{party.address}} <span class="minor">参加活动</span></p>
    <p class="paragraph">{{party.description}}</p>
    
    
        {% if client %}
        <!-- 被邀请用户报名页面 -->
    <form method="POST" url="{% url enroll party.id %}">
     <input type="image" src="/static/images/btn_join.png" />
     <input type="image" src="/static/images/btn_join_no.png" />
       
         {% else %}
         <!--公共报名页面 -->
        <form action="{% url enroll party.id %}" method="get" class="join_form">{% csrf_token %}
	NAME: <input type="text" name="name" id="id_name"/><br/>
	EMAIL: <input type="text" name="email" id="id_email"/><br/>
	PHONE: <input type="text" name="phone" id="id_phone"/><br/><br/>
         <input type="image" src="/static/images/btn_join.png" />
         {% endif %}
    </form>
    <p class="fw_b" style="margin-bottom:40px;">人满了，下次趁早</p>
   </div>

   <div class="accordionview">
    <div class="accordion_panel">
     <h2 class="accordion_toggle accordion_toggle_active"> <a id="tab_apply">来凑热闹的 <strong>{% if is_new %}<i class="icon_new">{% endif %}</i>({{client_count.apply}}人)</strong></a> <a id="tab_noanswer">还在犹豫的<strong> ({{client_count.noanswer}}人)</strong></a> <a href="#" id="tab_reject">就是不来的 <strong>({{client_count.reject}}人)</strong></a> </h2>
     <div class="accordion_content">
      <table width="100%" border="0" cellspacing="0" class="table">
      <thead>
       <tr>
        <th width="7%" scope="col">&nbsp;</th>
        <th width="23%" scope="col">姓名</th>
        <th width="52%" scope="col">联系方式</th>
        <th width="18%" scope="col" class="ta_r">&nbsp;</th>
       </tr>
       <tbody>

       </tbody>
      </table>
      <a href='{% url list_party %}'><button>返回</button></a>
     </div>
    </div>
   </div>
   
 </div>
</div>

{% endblock %}