{% extends 'login_base.html' %}

{% block title %}报名页面 {% endblock %}

{% block style %}
<style>
input[type="image"] { border:0px;height:45px;}
</style>
{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
<script>
    var applyStatus = ['apply', 'reject', 'noanswer'];
    $(document).ready(function(){
        for ( i in applyStatus) { ajaxGetClients(applyStatus[i]);} //进入页面时载入所有报名的人
        {% if party.invite_type == 'email' %}
        var errorMessage = $("#id_phone_or_email_error").text().replace('手机号码','邮件地址');
        {% else %}
        var errorMessage = $("#id_phone_or_email_error").text().replace('邮件地址','手机号码');
        {% endif %}
        $("#id_phone_or_email_error").text(errorMessage)
        /*$('a[id^="tab_"]').bind('click', function(){
            $("#"+this.id).siblings().attr('style','');
            $("#"+this.id).attr('style','padding:7px;border:solid #ccc 1px;background: -webkit-linear-gradient(top,#fff,#eee);border-bottom:solid #fff 1px;');//改变样式
            
            var applystatus = this.id.split('_')[1];
            ajaxGetClients(applystatus);
        })
        */
    })

function maskAddress(v){
    if (v.indexOf('@') == -1 && (v.length != 11 || !isNaN(v))) {
        return v;
    } else {
        var addressType = '';
        if (v.indexOf('@') == -1){
            addressType = 'phone';
        } else { addressType = 'email' ;}
        
        if (addressType == 'email') {
            var atPos = clients[i].address.indexOf('@');
            var value = v.substring(0,3)+'******'+v.substring(atPos);
            return value;
        }
        
        if (addressType == 'phone') {
            var value = v.substring(0, 3) + '****' + v.substring(7, 11);
            return value;
        }
    }
}

function ajaxGetClients(applystatus){
    $('.accordion_content table tbody').children().remove();
    $.ajax({
        type : 'GET',
        url: '/parties/ajax_get_client_list/'+{{party.id}}+'/?apply='+applystatus,
        statusCode : {
        200: function(response){
            data = JSON.parse(response);
            client_count = data.client_count;
            clients = data.party_clients_datas;
            for (i in clients){
                name = maskAddress(clients[i].name);
                address = maskAddress(clients[i].address);
                
                if(clients[i].client_id == '{{ client.id }}'){
                	row = "<tr><td></td><th>"+'{{ client.name }}'+"</th><td>"+clients[i].address+"</td><td></td></tr>"
                }else{
                	row = "<tr><td></td><th>"+name+"</th><td>"+address+"</td><td></td></tr>"
                }
                
                $("#table_"+applystatus).append(row); 
            }//endfor
            //改变标签上的人数 
            $('#tab_apply').html('来的<strong> ('+ client_count.apply +'人)');
            $('#tab_reject').html('不来的<strong> ('+ client_count.reject +'人)');
            $('#tab_noanswer').html('待定的<strong> ('+ client_count.noanswer +'人)');
             
        },
        500: function(){ alert('没有获取到用户列表')}
        }
    });
}

function ajaxChangeStatus(id, applystatus){
    $.ajax({
        type : 'GET',
        url : '/clients/change_apply_status/'+id+'/'+applystatus,
        data : {},
        statusCode : {
        200: function(response){
            location.reload() 
        },
        500: function(){ alert('没有获取到用户列表')}
        }
    });
}

</script>
{% endblock %}

{% block content %}

 <div id="content">
  <div class="grid_a">
   <h2 class="title">活动报名</h2>
   <div class="apply_details">
    <p>{{party.creator.username}} <span class="minor">邀请</span>  {% if client %}{{client.name}}{%else%}您{%endif%}：</p>
    {% if not party.start_date and not party.start_time %} 时间待定 {% else %}
    <p>{{ party.start_date|date:"m月d日"|default:"日期待定"}}  {{ party.start_time|time:"H:i"|default:"时间待定" }} </p>
    {% endif %}
    <p class="paragraph">{{ party.address|default:"地点待定" }}&nbsp;&nbsp;<span class="minor">参加活动</span></p>
    <p class="paragraph">{{ party.description|linebreaksbr }}</p>
    
    
        {% if client %}
        <!-- 被邀请用户报名页面 -->
    <form method="POST" action="{% url enroll party.id %}?key={{key}}" class="creat_exercise">
        <input name='key' type='hidden' value='{{ key }}'></input>
        {% if client.name == client.email %}
        <div class="field">
             <label for="client_email_list">姓名</label>
                 <input type="hidden" name="address" value="{{client.email}}"/>
                 <input type="text" name="name" id="id_name"/>
             </div>
        <div class="field">
        {% endif %}
        {% if client.name == client.phone %}
        <div class="field">
             <label for="client_email_list">姓名</label>
                 <input type="hidden" name="address" value="{{client.phone}}"/>
                 <input type="text" name="name" id="id_name"/>
             </div>
        <div class="field">
        {% endif %}
        <div class="field">
        <label for="client_leave_message">我要留言</label>
        <textarea name='leave_message' id='id_leave_message' cols='25' rows='4'>{{ form.leave_message.value|default:'' }}</textarea>
        <font color='red'>{{ form.leave_message.errors.0 }}</font>
        </div> 
     {% if apply_status == 'apply' %}
     <img src="/static/images/btn_joined.png" align="absbottom"/>     
     {% else %}
     <input type="submit" style="background-image:url('/static/images/btn_join.png');width:103px;height:45px;" value='' name='yes' />
     {% endif %}

     {% if apply_status == 'reject' %}
     <img src="/static/images/btn_joined_no.png" align="absbottom"/>     
     {% else %}
     <input type="submit" style="background-image:url('/static/images/btn_join_no.png');width:103px;height:45px;" value='' name='no' />
     {% endif %}
     
     
     {% if apply_status == 'apply' %}<p>您已经报名，请记得按时参加</p>{% endif %}
     {% if apply_status == 'reject' %}<p>您已经选择不参加该活动</p>{% endif %}
     <input id="id_action" type="hidden" name="action" value="" />
       
         {% else %}
         <!--公共报名页面 -->
        <form action="{% url enroll party.id %}" method="POST" class="creat_exercise">{% csrf_token %}
            <div class="field">
             <label for="client_email_list">姓名<font color='red'>*</font></label>
             <input type='text' name='name' id='id_name' value='{{ form.name.value|default:'' }}'></input>
             <font color='red'>{{ form.name.errors.0 }}<font>
             </div>
            <div class="field">
             <label for="client_email_list">联系方式<font color='red'>*</font></label>
             <input type='text' name='phone_or_email' id='id_phone_or_email' value='{{ form.phone_or_email.value|default:'' }}' ></input>
             <font id="id_phone_or_email_error" color='red'>{{ form.phone_or_email.errors.0 }}</font>
             <br/>
             {% if party.invite_type == 'email' %} 请填写邮件地址，以免收不到活动具体通知  {% endif %}      
             {% if party.invite_type == 'phone' %} 请填写手机号码，以免收不到活动具体通知  {% endif %}
             </div>
            <div class="field">
             <label for="client_email_list">我要留言</label>
             <textarea name='leave_message' id='id_leave_message' cols='25' rows='4'>{{ form.leave_message.value|default:'' }}</textarea>
             <font color='red'>{{ form.leave_message.errors.0 }}</font>
             </div> 
         <input type="image" src="/static/images/btn_join.png" />
         {% endif %}
    </form>
    {% if party.limit_count != 0 %}
        {% if party.limit_count <= client_count.apply %}
        <p class="fw_b" style="margin-bottom:40px;">人满了，下次趁早</p>
        {% endif %}
    {% endif %}
   </div>

   <div class="accordionview">
    <div class="accordion_panel">
     <h2 class="accordion_toggle accordion_toggle_active"> <a id="tab_apply" style="padding:7px;border:solid #ccc 1px;background: -webkit-linear-gradient(top,#fff,#eee);border-bottom:solid #fff 1px;">去的 <strong>{% if is_new %}<i class="icon_new">{% endif %}</i>({{client_count.apply}}人)</strong></a> </h2>
     <div class="accordion_content">
      <table width="100%" border="0" cellspacing="0" class="table">
      <thead>
       <tr>
        <th width="7%" scope="col">&nbsp;</th>
        <th width="23%" scope="col">姓名</th>
        <th width="52%" scope="col">联系方式</th>
        <th width="18%" scope="col" class="ta_r">&nbsp;</th>
       </tr>
       <tbody id="table_apply">
       </tbody>
      </table>
     </div>
     
     <h2 class="accordion_toggle accordion_toggle_active"> <a id="tab_reject" style="padding:7px;border:solid #ccc 1px;background: -webkit-linear-gradient(top,#fff,#eee);border-bottom:solid #fff 1px;">不来的 <strong>{% if is_new %}<i class="icon_new">{% endif %}</i>({{client_count.reject}}人)</strong></a>  </h2>
     <div class="accordion_content">
      <table width="100%" border="0" cellspacing="0" class="table">
      <thead>
       <tr>
        <th width="7%" scope="col">&nbsp;</th>
        <th width="23%" scope="col">姓名</th>
        <th width="52%" scope="col">联系方式</th>
        <th width="18%" scope="col" class="ta_r">&nbsp;</th>
       </tr>
       <tbody id="table_reject">
       </tbody>
      </table>
     </div>
     
     <h2 class="accordion_toggle accordion_toggle_active"> <a id="tab_reject" style="padding:7px;border:solid #ccc 1px;background: -webkit-linear-gradient(top,#fff,#eee);border-bottom:solid #fff 1px;">待定的 <strong>{% if is_new %}<i class="icon_new">{% endif %}</i>({{client_count.noanswer}}人)</strong></a>  </h2>
     <div class="accordion_content">
      <table width="100%" border="0" cellspacing="0" class="table">
      <thead>
       <tr>
        <th width="7%" scope="col">&nbsp;</th>
        <th width="23%" scope="col">姓名</th>
        <th width="52%" scope="col">联系方式</th>
        <th width="18%" scope="col" class="ta_r">&nbsp;</th>
       </tr>
       <tbody id="table_noanswer">
       </tbody>
      </table>
     </div>
     
    </div>
   </div>
   
 </div>
</div>

{% endblock %}