{% extends 'login_base.html' %}

{% block title %} 我的活动 {% endblock %}

{% block script %}
<script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.4.min.js"></script>
<script>

	function deleteConfirm(url){
	  if (confirm('删除不可恢复，是否确认删除？')){
	     window.location=url;
	  }
	}
</script>
{% endblock %}

{% block content %}

 <!--START: content -->
<div class="transparent"></div>
<div class="popup">
	<div class="hd">
 	<h2></h2>
  <a href="#" class="close">close</a>
 </div>
 <div class="bd">
 	<table width="100%" border="0" cellspacing="0" class="table">
      <thead>
       <tr>
        <th width="19%" scope="col">姓名</th>
        <th width="62%" scope="col">联系方式</th>
        <th width="19%" scope="col" class="ta_r"><a href="#"><img src="/static/images/btn_please.png" width="62" height="23" alt="please" /></a></th>
       </tr>
       </thead>
       <tbody>
       </tbody>
      </table>
 </div>
</div>

 <div id="content">
  <div class="grid_a">
   <h2 class="title" style="margin-top:30px;"><a href="{% url create_party %}"><img src="/static/images/btn_creat_active.png"/></a></h2>
   <div class="activity_tabs">
    <!--ul class="activity_nav">
     <li class="active"><a href="#">全部活动</a></li>
    </ul>
    <div class="activity_content">
     <div class="sub_tab"><strong>全部</strong><span class="indicator"></span!--></div>
     {% for party in party_list.object_list %}
     {% if not forloop.first %}
     <div class="line"></div>
     {% endif %}
     <p style="text-align:right;margin:10px 0px 20px 0px;"><strong class="important">{{ party.start_date|date:"m月d日"}}</strong> {{ party.start_time|time:"H:i"|default:"时间待定" }}  在 <strong class="important">{{ party.address|default:"地点待定" }}</strong></p>
    <div class="comment comment_odd"> <i class="corners"></i>
      <p class="details"><a href="{%url invite_list party.id %}">{{ party.description|ljust:"10" }}</a></p>
      <div class="function_share clearfix">
       <!--p class="statistics"><a href="{% url invite_list party.id %}?apply=noanswer">未响应</a>：<strong class="important">{{ party.client.noanswer.count }}</strong> <a href="{% url invite_list party.id %}?apply=apply">已报名</a>：<strong class="important">{{ party.client.apply.count }}</strong> <a href="{% url invite_list party.id %}?apply=reject">不参加</a>：<strong class="important">{{ party.client.reject.count }}</strong></p!-->
       <p class="statistics"><a href="{%url invite_list party.id %}?apply=noanswer">犹豫的：<strong class="important">{{ party.client.count.noanswer }}</strong></a> <a href="{% url invite_list party.id %}?apply=apply">爱热闹的：<strong class="important">{{ party.client.count.apply }}</strong></a> <a href="{% url invite_list party.id %}?apply=reject">不来的：<strong class="important">{{ party.client.count.reject }}</strong></p></a>
       <p class="share"><a href="#">分享</a> | <a href="#" onclick="deleteConfirm('{% url delete_party party.id %}')">删除</a> | <a href="{% url edit_party party.id %}">编辑</a>
      </div>
    </div>
    {% endfor %}
            <div class="pagination">
                <span class="step-links">
                    {% if party_list.has_previous %}
                        <a href="?page={{ party_list.previous_page_number }}">Previous</a>
                    {% endif %}
            
                    <span class="current">
                        Page {{ party_list.number }} of {{ party_list.paginator.num_pages }}.
                    </span>
            
                    {% if party_list.has_next %}
                        <a href="?page={{ party_list.next_page_number }}">Next</a>
                    {% endif %}
                </span>
            </div>
    </div>
  </div>
 </div>
</div>
<!--END: content -->

{% endblock %}

