<html>
<head>
  <script type="text/javascript" src="{{STATIC_URL}}js/jquery-1.6.4.min.js"></script>
 <script type="text/javascript" src="{{STATIC_URL}}js/ui.datepicker.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/time.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/ui.core.js"></script>
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.form.js"></script>
    <link type="text/css" href="{{STATIC_URL}}css/main.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/datepicker.css" rel="stylesheet" />
    <link type="text/css" href="{{STATIC_URL}}css/datepicker2.css" rel="stylesheet" />
    <script type="text/javascript">
        $("document").ready(function(){
            $("#id_date").datepicker();          
        });
    </script>
<title>编辑活动</title>
</head>
<body>

<form action='{% url modify_party party.id %}' method='post'>
{% csrf_token %}
<table>
<tr><td>时间</td><td><input type="text" class="input-txt3 mys" id="id_date" name="date" value='{{date}}' ></input>
                            	<input type="text" class='input-txt3 mys TimePker' id='id_time' autocomplete='off' name="time" value='{{time}}'  ></input><span class="required-tip">如：2010-01-01 23:09</span>
                            	<div style="display: none; "></div>
	                            {% if form.date.errors %}
	                            	{{ form.date.errors }}
	                            {% else %}
	                            	{{ form.time.errors }}
	                            {% endif %}</td>
</tr>

<tr><td>地址</td><td><input type='textfield' name='address'  value='{{ party.address }}' class= 'textarea-remark2'></input>{{ form.address.errors}}</td>
</tr>
<tr><td>描述</td><td><input type='textfield' name='description' class='textarea-remark2' value='{{ party.description}}' ></input>{{ form.description.errors}}</td>
</tr>
<tr><td>限制人数</td><td><input name='limit_num' type='text' value='{{ party.limit_num }}' readOnly ></input>{{ form.limit_num.errors}}</td>
</tr>
</table>
<input name='invite_type' type='hidden' value=''/>
<input type='button' value='用手机短信发送邀请' onclick="document.getElementsByName('invite_type')[0].value = 'msg';this.form.submit()" />
<input type='button' value='用电子邮件发送邀请' onclick="document.getElementsByName('invite_type')[0].value = 'email';this.form.submit()"/>
</form>
</body>
</html>