{% extends 'base.html' %}
{% block title %} 活动明细 {% endblock %}
{% block content %}

<ul>
	<li><span>日期：</span>{{date}}</li>
	<li><span>时间：</span>{{time}}</li>
	<li><span>地点：</span>{{party.address}}</li>
	<li><span>人数限制：</span>{{party.limit_num}}</li>
	<li><span>描述：</span>{{party.description}}</li>
</ul>
<br>
<a href="{% url modify_party party.id %}">编辑</a><br/>
<a href="{% url invite_list party.id %}">邀请人数</a>: {{client.invite.count}}<br/>
<a href="{% url enrolled_list party.id %}">报名人数</a>: {{client.enrolled.count}}<br/>
<a href="{% url noenroll_list party.id %}">未响应人数</a>: {{client.noenroll.count}}<br/>
<a href="{% url reject_list party.id %}">不报名人数</a>: {{client.reject.count}}<br/>
<a href="{% url list_party %}">返回</a><br/>
{{noroll.count}}
{% endblock %}