{% extends 'base.html' %}
{% block title %} 活动明细 {% endblock %}
{% block content %}

<ul>
	<li><span>时间：</span>{{party.start_time|date:"m-d H:i"}}</li>
	<li><span>地点：</span>{{party.address}}</li>
	<li><span>人数限制：</span>{{party.limit_count}}</li>
	<li><span>描述：</span>{{party.description}}</li>
</ul>
<br>

<a href="{%url email_invite party.id %}?apply=all">重新邀请</a>
<a href="{%url edit_party party.id %}">编辑</a>&nbsp;&nbsp;<a href='{% url delete_party party.id %}'>删除</a><br/>
<a href="{% url invite_list party.id %}?apply=all">邀请人数</a>: {{client.invite.count}}<br/>
<a href="{% url invite_list party.id %}?apply=apply">报名人数</a>: {{client.apply.count}}<br/>
<a href="{% url invite_list party.id %}?apply=noanswer">未响应人数</a>: {{client.noanswer.count}}<br/>
<a href="{% url invite_list party.id %}?apply=reject">不报名人数</a>: {{client.reject.count}}<br/>
<a href="{% url list_party %}">返回</a><br/>
{{noroll.count}}
{% endblock %}