{% extends 'login_base.html' %}
{% load string_filter %}
{% block style %}
<link href="/static/libs/jquery-ui-1/css/ui-lightness/jquery-ui-1.8.16.custom.css" type="text/css" rel="stylesheet" />
<style>
    .ui-autocomplete {
        max-height: 100px;
        overflow-y: auto;
        /* prevent horizontal scrollbar */
        overflow-x: hidden;
        /* add padding to account for vertical scrollbar */
        padding-right: 20px;
    }
    
    /* IE 6 doesn't support max-height
     * we use height instead, but this forces the menu to always be this tall
     */ * html .ui-autocomplete {
        height: 100px;
    }
    a {
    color: #2319FD;
    text-decoration :underline;  
     }
</style>
{% endblock %}
{% block script %}
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="/static/libs/jquery-ui-1/js/jquery-ui-1.8.16.custom.min.js">
</script>
<script type="text/javascript" >
/**
 *取出重复的联系人
 *
 */
function distinct(){
	 client_phone_list = $('#id_client_phone_list').val().split(',');
     client_phone_list_length = client_phone_list.length;     
	 array = new Array();
	 array_length = 0;   
     for (i = 0; i < client_phone_list_length; i++) {
         client_phone = client_phone_list[i].replace(/^\s+|\s+$/g, ""); 
         if (client_phone != "") {
             array_length = array.length;
             add = 1 ;
             for(k=0;k<=array_length;k++){
                 if(array[k] == client_phone){
                 	add = 0;
                 	break;
                 }
                 if(k == array_length){
                    add = 1;
                 }
             }  
             if(add==1){
             	array.push(client_phone);
             }  
         }
     }//endfor
     client_phones = array.join(',');
//     if(client_phones.length!=0){
//	     if(client_phones.lastIndexOf(',')!=(client_phones.length-1)){
//	        client_phones = client_phones+',';
//	     }
//     }
     $('#id_client_phone_list').val(client_phones);
}

	function calculate_send_phone_count() {
	    distinct();
	    client_phone_list = $('#id_client_phone_list').val().split(',');
	    client_phone_list_length = client_phone_list.length;     
	    count = 0;
	    for (i = 0; i < client_phone_list_length; i ++) {
	        if (client_phone_list[i].replace(/^\s+|\s+$/g, "") != "") {          
	            count = count+1;
	        }
	    }
	    $('#id_send_phone_count').html("共 "+count+" 人");
	}
    
/**
 * 获得最近活动邀请的人
 * @param int party.id
 */
function getRecentPartiesAddressee(v){
    if (v != 0) {
           $.ajax({
            type : 'GET',
            url: '/parties/invite_list_ajax/'+v+'/',
            statusCode : {
            200: function(response){
                clients = JSON.parse(response);
                client_list = [];
                for (i in clients){
                    client_list[i] = clients[i].address;
                }
                $("#id_client_phone_list").val(client_list.join(','))
            },
            500: function(){ alert('没有获取到用户列表')}
            }
        });
    }
}
    
	var availableTags = eval({{client_data|safe}});
    $(function(){
		calculate_send_phone_count();
        //var availableTags = ["ActionScript", "AppleScript", "Asp", "BASIC", "C", "C++", "Clojure", "COBOL", "ColdFusion", "Erlang", "Fortran", "Groovy", "Haskell", "Java", "JavaScript", "Lisp", "Perl", "PHP", "Python", "Ruby", "Scala", "Scheme"];
        function split(val){
            return val.split(/,\s*/);
        }
        function extractLast(term){
            return split(term).pop();
        }
        $('#id_client_phone_list').bind("keyup", function(event){
          if(event.keyCode==188){
            return;
          }
		  calculate_send_phone_count();
		});
        $("#id_client_phone_list") // don't navigate away from the field on tab when selecting an item
    .bind("keydown", function(event){
            if (event.keyCode === $.ui.keyCode.TAB &&
            $(this).data("autocomplete").menu.active) {
                event.preventDefault();
            }
        }).autocomplete({
            minLength: 0,
            autoFocus: true,
            source: function(request, response){
                // delegate back to autocomplete, but extract the last term
                response($.ui.autocomplete.filter(availableTags, extractLast(request.term)));
            },
            focus: function(){
                // prevent value inserted on focus
                return false;
            },
            select: function(event, ui){
                var terms = split(this.value);
                // remove the current input
                terms.pop();
                // add the selected item
                terms.push(ui.item.value);
                // add placeholder to get the comma-and-space at the end
                terms.push("");
                this.value = terms.join(", ");
                calculate_send_phone_count();
                return false;
            }
        });
    });
    
    function avalibale_sms_count(){//验证短信数量
	   $.ajax({
	    async :false,
        type : 'GET',
        url: '/accounts/get_availbale_sms_count_ajax/',
        statusCode : {
          200: function(response){
             data = JSON.parse(response);
             sms_count = data.available_count;
             client_phone_list = $('#id_client_phone_list').val().split(',');
		     client_phone_list_length = client_phone_list.length;     
		     count = 0;
		     for (i = 0; i < client_phone_list_length; i ++) {
		         if (client_phone_list[i].replace(/^\s+|\s+$/g, "") != "") {          
		             count = count+1;
		         }
		     }
		     content_length = $('#id_content').val().length;
		     if (document.getElementById('id_is_apply_tips').checked){
		     	content_length = content_length + 21;
		     }
		     message_count = Math.round((content_length+65-1)/65); //计算条数
		     //alert(message_count*count);
		     //return false;
		     if((count*message_count) > sms_count){
		         if(window.confirm("您的剩余短信条数不足，需要至少充值"+ ((count*message_count) - sms_count) +"条短信，才能完成本次发送。是否充值？")){
					//跳转到充值界面
					window.location = '{% url buy_sms %}';		         	
		         }else{
		         	//document.id_form.submit();
		         }
		     }else{
		 	    document.id_form.submit();
		     }
             
           },
          500: function(){ alert('没有获取到你的短信数量')}
          }
        });
    	return false;
    }
    
    $(document).ready(function(){
  	 	$('#id_is_apply_tips').change(function(){
    		if(!this.checked){
    		   if (window.confirm("关闭报名提示后，在发送给邀请人的短信中将不包含报名链接，确定吗?")){
    		   	  this.checked=false;
    		   }else{
    		      this.checked=true;
    		   }
    		}
    		return;
    	});
  
   	});
   
</script>
{% endblock %}

{% block content %}
<div id="content">
  <div class="grid_a">
   <h2 class="title">发送手机短信邀请</h2>
	<form action="{% url sms_invite party.id %}" method="post" id='id_form' class="creat_exercise">
		{% csrf_token %}
     <div class="field">
        <label for="client_email_list">
            收件人<font color='red'>*</font>
        <p id="id_send_phone_count">共 0 人</p>
        </label>
	 <textarea id="id_client_phone_list" rows="4" cols="70" name="client_phone_list" style="margin-left: 0px; margin-right: 0px; width: 404px; ">{{ form.client_phone_list.value }}</textarea>
     &nbsp;<font color='red'>{{ form.client_phone_list.errors.0 }}</font>
     {% if quickadd_client.noanswer_client or quickadd_client.apply_client or quickadd_client.reject_client %}
        <script>
          var reject = '{{ quickadd_client.reject_client }}';
          var apply = '{{ quickadd_client.apply_client }}';
          var noanswer = '{{ quickadd_client.noanswer_client }}';
          function quickadd(o){
          	var temp = ''
          	if(o=='all'){
              	if(reject!=''){
                  temp += reject+','; 
             	 }
             	if(apply!=''){
                  temp += apply+','; 
             	 }
             	if(noanswer!=''){
                 temp += noanswer+','; 
             	} 
	        }
	        if(o=='apply'){
             	if(apply!=''){
                  temp += apply+','; 
             	 }
	        }
	        if(o=='reject'){
             	if(reject!=''){
                  temp += reject+','; 
             	 }
	        }
	        if(o=='noanswer'){
             	if(noanswer!=''){
                  temp += noanswer+','; 
             	 }
	        }   
	        if(temp!=''){  	
             	var content = $('#id_client_phone_list').val();
             	if(content.replace(/^\s+|,|\s+$/g, "")!=""){
             	  if(content.charAt(content.length-1)==","){
             	  	$('#id_client_phone_list').val(content+temp);
             	  }else{
             	    $('#id_client_phone_list').val(content+","+temp);
             	  }
             	}else{
             	    $('#id_client_phone_list').val(temp)
             	}
            } 	
          }
        
        </script>
        <br/>快速添加：&nbsp;&nbsp;<a href='#' onclick="quickadd('all');">所有人</a>&nbsp;&nbsp;<a href='#' onclick="quickadd('apply');">来的</a>&nbsp;&nbsp;<a href='#' onclick="quickadd('noanswer');">待定的</a>&nbsp;&nbsp;<a href='#' onclick="quickadd('reject');">不来的</a>
        {% endif %}
     </div>
     <div class="field">
        <label for="id_recent_parties">最近联系人</label>
        <select id="id_recent_parties" onchange="getRecentPartiesAddressee(this.value)">
            <option value="0">未选择</option>
            {% for party in recent_parties %}
            <option value="{{party.id}}">{{party.description|truncatestring:"60"}}</option>
            {% endfor %}
        </select>
     </div>
     <div class="field">
     <label for="id_content">
     短信内容<font color='red'>*</font>
     </label>
    <font color='red'>{{ form.content.errors.0 }}</font>
    <textarea name='content' id='id_content' cols='70' rows='15'>{{ form.content.value|default:'' }}</textarea>
    (每65字为一条短信，其中报名链接为21字)
     </div>
    	<div class="field">
    		<label for="id_is_apply_tips">&nbsp;</label>
    		<p> <input type='checkbox' name='is_apply_tips' id='id_is_apply_tips' {% if form.is_apply_tips.value %}checked='checked'{% endif %}></input>带报名链接
                </p>
    	</div>
     <div class="field">
     	<label>&nbsp;</label>
		<input id="id_sms_invite_submit" type="submit" value="发送" onClick="return avalibale_sms_count()"/>
	</div>
	</form>
	<button id="id_back_to_list" onclick="(function(){window.location.href='{% url list_party %}';})() ;return false;"> 返回活动列表</button>
 </div>
</div>
{% endblock %}