{% extends "base.html" %}
{% load i18n %}
{% block title %} {%trans "Register" %}  {% endblock %}
{% block content %}

<form id="registerForm" action="{% url web_reg %}" method="post">
{% csrf_token %}
	<ul>
		{{error.username}}
		<li><span>{% trans "Username" %}</span>{{form.username}} </li>
		{{error.password}}
		<li><span>{% trans "Password" %}</span>{{form.password}} </li>
		<ul id="error_cp" class="errorlist" style="display:none;"><li>两次输入的密码不一致</li></ul>
		<li><span>{% trans "Comfirm Pass" %}</span><input id="confirm-password" type="password" class="required"/> </li>
		{{error.email}}
		<li><span>{% trans "Email" %}</span>{{form.email}} </li>
		<li><input id="button" type="submit" value="Register"/></li>
	</ul>
</form>

{% endblock %}

{% block js %}
<script>

</script>
{% endblock %}