{% extends 'login_base.html' %}

{% block title %} 修改密码  {% endblock %}
{% block content %}
<div id="content">
  <div class="grid_a">
   <h2 class="title">修改密码</h2>
   <form action="{% url change_password %}" method="post" class="creat_exercise">
       {% csrf_token %}
      <fieldset>
         <div class="field">
         <label for="username">
         原密码<span style="color:red">*</span>
         </label>
         <input name='old_password' id='id_old_password' type='password' value='{{ form.old_password.value|default:'' }}'></input>
         {{ form.old_password.errors.0 }}
         </div>
         <div class="field">
         <label for="password">
         新密码<span style="color:red">*</span>
         </label>
         <input name='new_password' id='id_new_password' type='password' value='{{ form.new_password.value|default:'' }}' placeholder='6-16字符'></input>
         {{ form.new_password.errors.0 }}
         </div>
         <div class="field">
         <label for="password">
         密码确认<span style="color:red">*</span>
         </label>
         <input name='confirm_password' id='id_confirm_password' type='password' value='{{ form.confirm_password.value|default:'' }}' placeholder='与新密码相同'></input>
         {{ form.confirm_password.errors.0 }}
         </div>
         <div class="submit_field">
          <input type='submit' value='提交'/>
         </div>
        </fieldset>	
	</form>
  </div>
 </div>
{% endblock %}
