{% extends 'login_base.html' %}

{% block title %} 找回密码 {% endblock %}
{% block content %}
<div id="content">
  <div class="grid_a">
   <h2 class="title">找回密码</h2>
   <form action="{% url forget_password %}" method="post" class="creat_exercise">
       {% csrf_token %}
      <fieldset>
         <div class="field">
         <label for="username">
         用户名<span style="color:red">*</span>
         </label>
         <input name='username' id='username' type='text' value='{{ form.username.value|default:'' }}'></input>
         <font color='red'>{{ form.old_password.errors.0 }}</font>
         </div>
         <div class="submit_field">
          <input type='submit' value='提交'/>
         </div>
        </fieldset>	
	</form>
  </div>
 </div>
{% endblock %}
