{% extends "not_login_base.html" %}

{% block content %}
 <!--START: content -->
 <div id="content">
  <div class="grid_a">
   <h2 class="title">用户登录</h2>
<form action="{% url login %}" method="post" class="creat_exercise">
    {% csrf_token %}
  <fieldset>
     <div class="field">
     <label for="username">
     用户名
     </label>
     <input id='id_username' name='username' placeholder='必填项，至少输入六个字符'/>
     <font color="red">{{ form.username.errors.0 }}</font>
     </div>
     <div class="field">
     <label for="password">
     密码
     </label><input type="password" name="password" id="id_password"/>
     <font color="red">{{ form.password.errors.0 }}</font>
     </div>
     <!--div class="field">
     	<label>
     		&nbsp;
     	</label>
     	<font color="red">{{ form.non_field_errors.0 }}</font>
     </div-->
     <div class="submit_field">
      <input id="id_login_submit" type="submit" value="登录" />
     </div>
    </fieldset>	
</form>
  </div>
 </div>
{% endblock %}
