{% extends "not_login_base.html" %}

{% block title %}用户登录{% endblock %}

{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
	 function on_submit(thisform){
	    var username = $('#id_username').val();
	    if(username==""){
	        alert("用户名不能为空");
	        return false;
	    }
	    var u_len = username.legth;
	    if (u_len>14 || u_len<6){
	     alert("用户名必须在6~14位之间");
	        return false;
	    }
	    var password = $('#id_password').val();
	    var p_len    = password.length;
	    if(username==""){
	        alert("密码不能为空");
	        return false;
	    }
	    if (p_len>16 || p_len<6){
	     alert("密码必须在6~16位之间");
	        return false;
	    }
	    return true;
	 }
</script>

{% endblock %}
{% block content %}
 <!--START: content -->
 <div id="content">
  <div class="grid_a">
   <h2 class="title">用户登录</h2>
<form action="{% url login %}" method="post" class="creat_exercise" onsubmit="return on_submit(this);">
    {% csrf_token %}
  <fieldset>
     <div class="field">
     <label for="username">
     用户名
     </label>
     <input id='id_username' name='username' placeholder='必填项'></input>
     <font color="red">{{ form.username.errors.0 }}</font>
     </div>
     <div class="field">
     <label for="password">
     密码
     </label>
     <input type="password" name="password" id="id_password" placeholder='必填项'/><font color="red">{{ form.password.errors.0 }}</font>
     </div>
     <!--div class="field">
     	<label>
     		&nbsp;
     	</label>
     	<font color="red">{{ form.non_field_errors.0 }}</font>
     </div-->
     <div class="submit_field">
      <input id="id_login_submit" type="submit" value="登录" />
     </div>
    </fieldset>	
</form>
  </div>
 </div>
{% endblock %}
