{% extends 'login_base.html' %}
{% block title %} 用户信息  {% endblock %}
{% block style %}
<style>
::-webkit-input-placeholder {
   color: red;
}

:-moz-placeholder {
   color: red;
}
</style>
{% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js">
</script>
<script type="text/javascript">
//alert('{{userprofile.phone_binding_status}}');
function unbindingPhone(){
    var v = $("#id_phone").val();
    if (!v) {
        alert('请输入手机号码');
        return false;
    }
    if (v.length!=11){
    	alert('手机长度不合法');
    	return false;
    }
    if(!v.match(/^1\d{10}/)){
        alert('格式不合法');
        return false;
    }
    $.ajax({
        type: 'POST',
        url: '{% url apply_phone_unbingding_ajax %}',
        data: {
            'phone': v
        },
        statusCode: {
            200: function(response){
                 if(response=='success'){   
                    if($('#dom_id')){
                    	$('#dom_id').remove();
                    }
                    
                    var dom = $("#id_phone").parent().clone();
                    $("#id_phone").parent().append(dom);
                    dom.attr('id','dom_id');
                    dom.attr('style','margin-top:20px;').children('label').text('验证码');
                    dom.children('input').val(null).attr('id','phonevalidate_id').removeAttr('disabled');
                    dom.children('a').text('[确认]').attr('onclick','validate_phone_bingding("unbind")');
                    alert('验证码已经发送到您的手机中，请注意查收');
                 }
                 if(response.match(/time:/)){
                 	alert('点击频率过高，请稍后继续点击,'+response.match(/\d+/)+'秒后可以再次点击');
                 }
            },
            500: function(response){
            
            }
        }
    })
   
}

    
function bindingPhone(){
    var v = $("#id_phone").val();
    if (!v) {
        alert('请输入手机号码');
        return false;
    }
    if (v.length!=11){
    	alert('手机长度不合法');
    	return false;
    }
    if(!v.match(/^1\d{10}/)){
        alert('格式不合法');
        return false;
    }
    var answer = confirm("要给" + v + "发送验证码吗？")
    if (answer) {
        $.ajax({
            type: 'POST',
            url: '{% url apply_phone_bingding_ajax %}',
            data: {
                'phone': v
            },
            statusCode: {
                200: function(response){
	                 if(response=='success'){   
	                    if($('#dom_id')){
	                    	$('#dom_id').remove();
	                    }
	                    
	                    var dom = $("#id_phone").parent().clone();
	                    $("#id_phone").parent().append(dom);
	                    dom.attr('id','dom_id');
	                    dom.attr('style','margin-top:20px;').children('label').text('验证码');
	                    dom.children('input').val(null).attr('id','phonevalidate_id').removeAttr('disabled');;
	                    dom.children('a').text('[确认]').attr('onclick','validate_phone_bingding("bind")');
	                    alert('验证码已经发送到您的手机中，请注意查收');
	                 }
	                 if(response=='used'){
	                 	alert('该手机号码，已经被绑定');
	                 }
	                 if(response=='invalidate'){
	                 	alert('手机号码不合法');
	                 }
	                 if(response.match(/time:/)){
                         for (var i =1; i < response.match(/\d+/); i++ ){
                             //window.setTimeout( function() { document.getElementById("countdown").innerText = i; console.log(i)}, i*1000);
                         }
	                 	alert('验证码已经发送，请'+response.match(/\d+/)+'秒后再次点击');
	                 }
                },
                500: function(response){
                
                }
            }
        })
    }
}
    
function validate_phone_bingding(isbind){
    //alert(isbind);
    var v = $("#phonevalidate_id").val();
    if (!v) {
        alert('请输入手机验证码');
        return false;
    }
    var r_url= '';
    var alert_success='';
    if(isbind=='bind'){
        r_url='{% url validate_phone_bingding_ajax %}';
        alert_success='绑定成功';
    }else if (isbind=='unbind'){
        r_url='{% url validate_phone_unbingding_ajax %}';
        alert_success='成功解除绑定';
    }else{
       return;
    }   
    $.ajax({
        type: 'POST',
        url: r_url,
        data: {
            'key': v
        },
        statusCode: {
            200: function(response){
            	 r = JSON.parse(response);
            	 r_status = r.status;
                 if(r_status=='success'){   
					alert(alert_success);
					$("#id_phone").attr('disabled','true');	
	                if($('#dom_id')){
	                    	$('#dom_id').remove();
	                }
	                window.location.href='{% url profile %}';     
                 }
                 if(r_status=='used'){
                 	alert('已经被绑定');
                 }
                 if(r_status=='wrongkey'){
                 	alert('验证码错误');
                 }
                 if(r_status=='null'){
                 	alert('验证码不能为空');
                 }
                 
            },
            500: function(response){
                 alert('服务器正忙，请稍后重试');
            }
        }
    })
   

}    
    
    
    function bindingEmail(){
        var v = $('#id_email').val();
        if (!v) {
            alert('请输入邮件地址');
            return false;
        }
        var answer = confirm("要给" + v + "发送确认邮件吗？")
        if (answer) {
            $.ajax({
                type: 'POST',
                url: '{%url email_binding %}',
                data: {
                    'email': v
                },
                statusCode: {
                    200: function(response){
                        switch(response) {
    		                case 'record_already_exist': {
                                alert('确认邮件已经发送，请查看您的邮箱')
                                break;
                            }
                            case 'email_already_exist': {
                                alert('邮箱已经被绑定，请使用其他邮箱')
                                break;
                            }
    	                    case 'success':{
                                $("#id_email").val('').attr('placeholder',v+' 待验证，请登录您绑定邮箱进行确认');
                                break;
                            }
                        }
                    },
                    500: function(response){
                    
                    }
                }
            })
        }
    }
    
    function unBindingEmail(){
        var answer = confirm("是否解除该邮件的绑定？")
        if (answer){
            $.post('{%url email_unbinding %}',function(response){
                location.reload();
            })
        }
    }
    
    $(document).ready(function(){
        $("#tips").delay(3000).fadeOut();
        $("#id_email").bind('click', function(){
           $(this).attr('style','').val('').next().show(); 
        });
    })
</script>
{% endblock %}
{% block content %}
{% ifequal profile_status 'success' %}
<div id="tips">
    保存成功 
</div>
{% endifequal %}
{% ifequal password_status 'success' %}
<div id="tips">
    密码修改成功 
</div>
{% endifequal %}
<div id="content">
    <div class="grid_a">
        <h2 class="title">用户信息</h2>
        欢迎你, <strong>{{user.username}}</strong>&nbsp;&nbsp;<a href="{% url change_password %}" style="font-size:9pt; color:#237237237; text-decoration:underline;">修改密码</a>
        <br/>
        <br/>
        <br/>
        <form method='post' action='{% url profile %}' class="creat_exercise">
            {% csrf_token %}
            <fieldset>
                <div class="field">
                    <label for="true_name">
                        姓名
                    </label>
                    <input name='true_name' id='id_true_name' value='{{ form.true_name.value|default:'' }}'>
                    </input>
                    <font color='red'>
                    {{ form.true_name.errors.0 }}
                </red>
                </div>
                <div class="field">
                    <label for="email">
                        邮箱
                    </label>
                    <input style="border:0px;background:none;" name='email' id='id_email' value='{{ userprofile.email|default:'[未绑定]' }}' {%  if userprofile.email %}  disabled="true" {%  endif %}>
                    </input><a style="display:none;" onclick="bindingEmail()">[绑定]</a>
                    {% if userprofile.email %}<a href="#" onclick="unBindingEmail()">[取消绑定]
                            {% endif %}</a>
                        <font color='red'>{{ form.email.errors.0 }}
                        </red>
                    </div>
                    <div class="field">
                        <label for="phone">
                            手机
                        </label>
                        <input name='phone' id='id_phone' value='{{ form.phone.value|default:'' }}' {%  ifequal userprofile.phone_binding_status 'bind' %}  disabled="true" {%  endifequal %}{%  ifequal userprofile.phone_binding_status 'waiteunbind' %}  disabled="true" {%  endifequal %}>
                        </input>
                        {%  ifequal userprofile.phone_binding_status  'bind' %}
                        <a href="#" onclick="unbindingPhone()">[解除绑定]</a>
                        {% endifequal %}
                        {%  ifequal userprofile.phone_binding_status  'waiteunbind' %}
                        <a href="#" onclick="unbindingPhone()">[解除绑定]</a>
                        {% endifequal %}                        
                        {%  ifequal userprofile.phone_binding_status  'unbind' %}
                        <a href="#" onclick="bindingPhone()">[绑定]</a>
                        {% endifequal %}
                        {%  ifequal userprofile.phone_binding_status  '' %}
                        <a href="#" onclick="bindingPhone()">[绑定]</a>
                        {% endifequal %}
                        {%  ifequal userprofile.phone_binding_status  'waitingbind' %}
                        <a href="#" onclick="bindingPhone()">[绑定]</a>
                        {% endifequal %}
                        <span id="countdown"></span>     
                        <font color='red'>
                        {{ form.phone.errors.0 }}
                    </red>
                </div>
                <div class="field">
                    剩余短信条数：{{ sms_count|default:'0' }}条&nbsp;<a href="{%url buy_sms %}">充值?</a>
                </div>
                <input type='submit' value='保存' name='save'>
                </input>
                </fieldset>
            </form>
        </div>
    </div> {% endblock %}
