{% extends 'login_base.html' %}

{% block title %} 用户信息  {% endblock %}
{% block script %}
<script type="text/javascript" src="/static/js/jquery-1.6.4.min.js"></script>
<script type="text/javascript">
function changetoAble(o){
   $(document.getElementById(o)).removeAttr('readonly');
   
}
</script>
{% endblock %}
{% block content %}
<div id="content">
  <div class="grid_a">
   <h2 class="title">用户信息</h2>
    欢迎你, {{user.username}}<br/><br/>
<br />
<a href="{% url change_password %}">修改密码</a><br/>
<form method='post' action='{% url profile %}'  class="creat_exercise">
    {% csrf_token %}
    <fieldset>
        <div class="field">
        <label for="true_name">姓名</label>
         {{ form.true_name }}{{ form.true_name.errors.0 }}<a href="#" onclick="changetoAble('id_true_name')" >更改?</a>
         </div>
         <div class="field">
         <label for="email">电子邮件</label>
         {{ form.email }}{{ form.email.errors.0 }}<a href="#" onclick="changetoAble('id_email')" >更改?</a>
         </div>
         <div class="field">
         <label for="phone">手机</label>
         {{ form.confirm_password }}{{ form.phone }}{{ form.phone.errors.0 }}<a href="#" onclick="changetoAble('id_phone')">更改?</a>
         <font color="red">{{ form.confirm_password.errors.0 }}</font>
         </div>
         <div class="field">剩余短信条数：{{ sms_count|default:'0' }}条&nbsp;<a href="#">充值?</a></div>
          <input type='submit' value='保存'></input>
        </fieldset>	
    </form>
{% if profile_status %}
{{ profile_status }}
{% endif%}
  </div>
 </div>

{% endblock %}
