{% extends 'not_login_base.html' %}
{% block title %}用户注册 {% endblock %}
{% block content %}
 <!--START: content -->
 <div id="content">
  <div class="grid_a">
   <h2 class="title">用户注册</h2>
	<form action="{% url register %}" method="post" class="creat_exercise">
	    {% csrf_token %}
        <fieldset>
         <div class="field">
         <label for="username">
         用户名<font color="red">*</font>
         </label>
         <input name='username' id='id_username' value='{{ form.username.value|default:'' }}' placeholder='6-14字符'></input>
         <font color="red">{{ form.username.errors.0 }}</font> 
         </div>
         <div class="field">
         <label for="password">
         密码<font color="red">*</font>
         </label>
         <input type='password' name='password' id='id_password' value='{{ form.password.value|default:'' }}' placeholder='6-16字符'></input>
         <font color="red">{{ form.password.errors.0 }}</font>
         </div>
         <div class="field">
         <label for="confirm_password">
         确认密码<font color="red">*</font>
         </label>
         <input type='password' name='confirm_password' id='id_confirm_password' value='{{ form.confirm_password.value|default:'' }}' placeholder='与密码一致'></input>
         <font color="red">{{ form.confirm_password.errors.0 }}</font>
         </div>
         <div class="submit_field">
          <input id="id_login_submit" type="submit" value="注册" />
         </div>
        </fieldset>	
	</form>
{% endblock %}