{% extends 'login_base.html' %}

{% block title %} 重置密码  {% endblock %}
{% block content %}
<div id="content">
  <div class="grid_a">
   <h2 class="title">重置密码</h2>
   <form action="{% url reset_password %}" method="post" class="creat_exercise">
       {% csrf_token %}
       <p style="margin-bottom:10px; color:red;"> 临时登录成功，请重新设置您的密码 </p>
      <fieldset>
         <div class="field">
         <label for="password">
         新密码<span style="color:red">*</span>
         </label>
         <input name='password' id='id_password' type='password' value='{{ form.password.value|default:'' }}' placeholder='6-16字符'></input>
         <font color='red'>{{ form.password.errors.0 }}</font>
         </div>
         <div class="field">
         <label for="password">
         密码确认<span style="color:red">*</span>
         </label>
         <input name='confirm_password' id='id_confirm_password' type='password' value='{{ form.confirm_password.value|default:'' }}' placeholder='与新密码相同'></input>
         <font color='red'>{{ form.confirm_password.errors.0 }}</font>
         </div>
         <div class="submit_field">
          <input type='submit' value='提交'/>
         </div>
        </fieldset>	
	</form>
  </div>
 </div>
{% endblock %}
