{% extends 'base.html' %}

{% block title %}报名页面 - AIMeeting{% endblock %}

{% block content %}

<link rel="stylesheet" href="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.css" />
<script src="http://code.jquery.com/jquery-1.6.4.min.js"></script>
<script src="http://code.jquery.com/mobile/1.0rc2/jquery.mobile-1.0rc2.min.js"></script>
<meta name="viewport" content="user-scalable=no, width=device-width" />

<div data-role="page" id="home"  data-theme="b"> 
	<div data-role="content">
		<h2>[燕帅奇]邀请您：</h2>
		<p>{{party.start_time|date:"Y-m-d H:m:s"}} 在 {{party.address}} 参加活动</p>		
		<h2>活动介绍</h2>
        <p> {{party.description}}</p>
	<div class="ui-block-a"><a href="#yes"><button type="submit"  data-icon="check" data-theme="b">参加</button></a></div>
	<div class="ui-block-b"><button type="submit" data-icon="delete" data-theme="c">不参加</button></div>	
	</div><!-- /content -->
	<div data-role="footer" data-theme="b"><h1>已报名</h1></div>
	<ul data-role="listview" data-theme="b">
	   <li><a href="acura.html">Chen Yang</a></li>
	   <li><a href="audi.html">Cui Kuangye</a></li>
	   <li><a href="bmw.html">Huang Kun</a></li>
    </ul>
</div> 


<div data-role="page" id="yes"  data-theme="c">
	<div data-role="header">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>报名成功！</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>您已经成功报名，请记得按时参加。</p>		
		<p><a href="#enroll">已报名列表</a></p>	
	</div><!-- /content -->
</div>


<div data-role="page" id="no"  data-theme="a">
	<div data-role="header">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>不参加本次活动</h1>
	</div><!-- /header -->

	<div data-role="content">	
		<p>您已经选择不参加本次活动，感谢您的关注。</p>		
		<p><a href="#enroll">已报名列表</a></p>	
	</div><!-- /content -->
</div>

<div data-role="page" id="enroll" data-theme="c">
	<div data-role="header" data-theme="b">
        <a href="#home" data-icon="arrow-l">返回</a>
		<h1>已报名列表</h1>
	</div>
        <ul data-role="listview">
				<li data-role="list-divider">A</li>
				<li><a href="index.html">Adam Kinkaid</a></li>
				<li><a href="index.html">Alex Wickerham</a></li>
				<li><a href="index.html">Avery Johnson</a></li>
				<li data-role="list-divider">B</li>
				<li><a href="index.html">Bob Cabot</a></li>
				<li data-role="list-divider">C</li>
				<li><a href="index.html">Caleb Booth</a></li>
				<li><a href="index.html">Christopher Adams</a></li>
				<li><a href="index.html">Culver James</a></li>
				<li data-role="list-divider">D</li>
				<li><a href="index.html">David Walsh</a></li>
				<li><a href="index.html">Drake Alfred</a></li>
				<li data-role="list-divider">E</li>
				<li><a href="index.html">Elizabeth Bacon</a></li>
				<li><a href="index.html">Emery Parker</a></li>
				<li><a href="index.html">Enid Voldon</a></li>
				<li data-role="list-divider">F</li>
				<li><a href="index.html">Francis Wall</a></li>
				<li data-role="list-divider">G</li>
				<li><a href="index.html">Graham Smith</a></li>
				<li><a href="index.html">Greta Peete</a></li>
				<li data-role="list-divider">H</li>
				<li><a href="index.html">Harvey Walls</a></li>
				<li data-role="list-divider">M</li>
				<li><a href="index.html">Mike Farnsworth</a></li>
				<li><a href="index.html">Murray Vanderbuilt</a></li>
				<li data-role="list-divider">N</li>
				<li><a href="index.html">Nathan Williams</a></li>
				<li data-role="list-divider">P</li>
				<li><a href="index.html">Paul Baker</a></li>
				<li><a href="index.html">Pete Mason</a></li>
				<li data-role="list-divider">R</li>
				<li><a href="index.html">Rod Tarker</a></li>
				<li data-role="list-divider">S</li>
				<li><a href="index.html">Sawyer Wakefield</a></li>
			</ul>
</div>

<script type="text/javascript" >
$(document).bind("mobileinit", function(){
  $.mobile.foo = bar;
});
</script>

{% endblock %}