<html>
<head>
 
<title>受邀联系人列表
</title>
<script>
 
  function refesh(){
   document.execCommand('Refresh') 
  }
</script>
</head>
 
<body>{% csrf_token %}
<a href='{% url view_party party.id %}'>返回</a>
<table>
{% for party_client in party_clients_list %}
<tr>
 
<td><input type="text" name='l2' value='{{ party_client.client.name }}' disabled ></input></td>
<td><input type="text" name='l1' value='{{ party_client.client.phone }}' disabled></input></td>

{% if applystatus == 'all' or applystatus == 'noanswer'  %}  
    <td><a href="{% url change_status party_client.id %}?applystatus=apply&next={{ applystatus }}">参加</a> 
    &nbsp;&nbsp;&nbsp;
    <a href="{% url change_status party_client.id %}?applystatus=reject&next={{ applystatus }}">不参加</a> </td>
{% endif %}
{% if applystatus == 'apply' %}  
    <td><a href='{% url change_status party_client.id %}?applystatus=reject&next={{ applystatus }}'>不参加</a> </td>
{% endif %}
{% if applystatus == 'reject' %}  
    <td><a href='{% url change_status  party_client.id  %}?applystatus=apply&next={{ applystatus }}'>参加</a>  </td>
{% endif %}
 
</tr>
{% endfor %}
</table>
</body>
</html>